asgiref
attrs
certifi
cffi
charset-normalizer
crispy-tailwind
cryptography
Django
django-allauth
django-countries
django-crispy-for
django-unfold
django-widget-tweaks
djangorestframework
djangorestframework_simplejwt
drf-yasg
gunicorn
h11
idna
inflection
oauthlib
outcome 
packaging
pillow
pycparser
PyJWT 
PySocks
python-dateutil 
python-decouple 
pytz 
PyYAML 
requests 
requests-oauthlib 
selenium 
six 
sniffio
sortedcontainers
sqlparse
trio
trio-websocket
typing_extensions
uritemplate
urllib3
websocket-client
whitenoise
wsproto
