    
        <nav class="flex flex-col  md:flex-row justify-between items-center px-4 md:px-8 py-4 bg-transparent transition-all duration-300">
    
                        <!-- Logo -->
                        <a href="{% url 'home' %}"  class=" hidden md:flex items-center mb-4 md:mb-0">
                            <div class="font-['Italiana'] font-normal text-[28px] md:text-[40px] text-white">Porn</div>
                            <div class="font-['Irish_Grover'] font-normal text-[36px] md:text-[55px] text-[#a21892] ml-2">Flixe</div>
                        </a>

                        <div class="md:hidden bg-[#0f0203] flex items-center w-full justify-between flex-col  fixed  top-0 left-0 right-0 z-[999] px-4 py-4 ">
                            <div class="flex justify-between w-full items-center gap-2 "> 
                                <a href="{% url 'home' %}" class="flex items-center  ">
                                    <div class="font-['Italiana'] font-normal text-[28px] md:text-[40px] text-white">Porn</div>
                                    <div class="font-['Irish_Grover'] font-normal text-[36px] md:text-[55px] text-[#a21892] ml-2">Flixe</div>
                                </a>


                                <!-- Hamburger Menu for Mobile -->
                                <button class="md:hidden text-white focus:outline-none">
                                <i class='bx bx-menu text-2xl'></i>
                                </button>
                            </div>
                            

                                <!-- Mobile Menu -->
                                
                        <div id="mobile-menu" class="md:hidden hidden px-4 pb-4 h-screen  flex justify-start w-screen flex-col gap-4 bg-transparent"><br><br>
                            <a href="{% url 'home' %}" class="pill-mobile block py-2 text-white flex items-center gap-4  w-screen rounded-lg hover:bg-white/10 transition {% if request.path == '/' %}active{% endif %}" >  <i class='bx bx-home text-3xl' ></i>Home</a>
                            <a href="{% url 'series' %}" class="pill-mobile block py-2 text-white flex items-center gap-4  w-screen rounded-lg hover:bg-white/10 transition {% if request.path == '/series' %}active{% endif %}"><i class='bx bx-tv text-3xl'></i> Séri</a>
                            <a href="{% url 'films' %}" class="pill-mobile block py-2 text-white  flex items-center  gap-4  w-screen rounded-lg hover:bg-white/10 transition {% if request.path == '/films' %}active{% endif %}"><i class='bx bxs-film text-3xl' ></i>Film</a>  
                            <a href="{% url 'shorts' %}" class="pill-mobile block py-2 text-white  flex items-center  gap-4  w-screen rounded-lg hover:bg-white/10 transition {% if request.path == '/short_videos' %}active{% endif %}"><i class='bx bx-play text-3xl' ></i>Short Video</a>
                            <a href="{% url 'photos' %}" class="pill-mobile block py-2 text-white flex items-center gap-4   w-screen  rounded-lg hover:bg-white/10 transition {% if request.path == '/photos' %}active{% endif %}"><i class='bx bx-image-alt text-3xl' ></i>Photo</a>
                            <a href="{% url 'genres' %}" class="pill-mobile block py-2 text-white  flex items-center  gap-4  w-screen rounded-lg hover:bg-white/10 transition {% if request.path == '/genres' %}active{% endif %}"><i class='bx bx-filter text-3xl' ></i>Genre</a>  
                            <div  class="pill-mobile block py-2 text-white  flex items-center  gap-4  w-screen rounded-lg hover:bg-white/10 transition"onclick="openUsernamePopup()" ><i class='bx bx-user text-3xl' ></i>Profil</div>  

                            <div class="md:hidden bg-[#0f0203] flex items-center w-full justify-between flex-col">
                                    {% if user.is_authenticated %}
                            <div class="flex w-full items-center justify-between gap-2 ">
                                <div class="flex w-full items-center gap-2 ">
                                    <div class="ml-4 bg-[#a21892] rounded-full flex items-center justify-center ease-in-out duration-300 hover:bg-white/10 transition-all w-[50px] h-[50px]">
                                    <div class="text-white text-lg text-center">
                                        <span class="lg:hidden">{{ user.username|upper|slice:"0:1" }}</span>
                                    </div>
                                </div>
                                <div class="ml-4">
                                    <h2 class="font-bold text-gray-100 text-lg">
                                        {{ user.username }}
                                    <p class="text-sm text-gray-400">
                                        {% if has_active_subscription %}
                                        <span class="  py-1 rounded-full   text-green-400 text-xs font-medium flex items-center transition-all hover:scale-105">
                                            <span class="w-2 h-2 rounded-full bg-green-500 mr-2 animate-pulse"></span>
                                            ABONNÉ {{ user_subscription.plan.name|upper }}
                                        </span>
                                        <p class="text-xs text-gray-400/80 animate-fade-in">Expire le {{ user_subscription.end_date|date:"d/m/Y" }}</p>
                                    {% else %}
                                        <span class=" py-1 rounded-full   text-red-400 text-xs font-medium flex items-center transition-all hover:scale-105">
                                            <span class="w-2 h-2 rounded-full bg-red-500 mr-2"></span>
                                            NON ABONNÉ
                                        </span>
                                        <a href="{% url 'subscribe' %}" class="text-xs font-medium bg-gradient-to-r from-[#a21892] to-[#e94057] text-transparent bg-clip-text hover:underline transition-all duration-300 hover:scale-105 inline-block">
                                            S'abonner maintenant
                                        </a>
                                    {% endif %}
                                    </p>
                                </div>
                            </div>
                                <a href="{% url 'account_logout' %}" class="text-gray-600 hover:text-gray-800 transition-colors">
                                    <i class='bx bx-log-out text-gray-100 text-3xl text-[#a21892]'></i>
                                </a>
                            </div>
                            {% else %}
                                    <div class="flex w-full items-center gap-2 ">
                                    <div class="relative">

                                        <div class="absolute inset-0 rounded-full shadow-inner">
                                        <i class='bx  bx-user text-xl'></i>
                                        </div>
                                    </div>
                                    <div class="flex items-center justify-center gap-4 text-white">
                                        <a href="{% url 'account_login' %}" class="block py-2 px-4 rounded-full hover:bg-[#a21892]  border-2 border-[#a21892] hover:bg-opacity-30 transition">
                                            <i class='bx bx-log-in mr-3'></i> Connexion
                                        </a>
                                        <a href="{% url 'account_signup' %}" class="block py-2 px-4 rounded-full hover:bg-[#a21892]  border-2 border-[#a21892] hover:bg-opacity-30 transition">
                                            <i class='bx bx-user-plus mr-3'></i> S’inscrire
                                        </a>
                                    </div>
                                    
                                </div>
                                
                                
                            {% endif %}
                        </div>
                        </a>

                        
                    </div>

                
                    </div>
                
                    <div id="nav-pills" class="hidden md:flex items-center gap-2 mb-4 md:mb-0 transition-all duration-300 text-white ">
                            <a href="{% url 'home' %}" class="pill  {% if request.path == '/' %}active{% endif %}">
                                <span>Home</span>
                            </a>
                            <a href="{% url 'series' %}" class="pill {% if request.path == '/series' %}active{% endif %}">
                                <span>Séri</span>
                            </a>
                            <a href="{% url 'films' %}" class="pill {% if request.path == '/films' %}active{% endif %}">
                                <span>Film</span>
                            </a>
                            <a href="{% url 'shorts' %}" class="pill  {% if request.path == '/short_videos' %}active{% endif %}">
                                <span>Short  </span>
                            </a>
                            <a href="{% url 'photos' %}" class="pill {% if request.path == '/photos' %}active{% endif %}">
                                <span>Photo</span>
                            </a>
                            <a href="{% url 'genres' %}" class="pill {% if request.path == '/genres' %}active{% endif %}">
                                <span>Genre</span>
                            </a>
                        </div>
                    <!-- Search + User Profile -->
                    <form action="{% url 'search' %}" method="get" class="flex items-center w-full     md:w-auto gap-4 mt-4 md:mt-0 md:pt-0 pt-40">
                        <!-- Search Input -->
                        <div class="relative flex items-center w-full hover:w-[140px] md:w-[40px] mr-4 transition-all duration-300">
                        <input
                            class="w-full pl-10 pr-4 py-2 bg-white rounded-full outline-none placeholder-gray-500 text-[12px] md:text-lg"
                            type="text"
                            name="q" 
                            placeholder="Search..."
                        />
                        <i class='bx bx-search absolute left-3 text-gray-500'></i>
                        </div>

                        <!-- User Profile -->
                        <div class="relative w-[133px] h-[39px] rounded-[33px] hidden md:block cursor-pointer group">
                        <div class="absolute inset-0 bg-[#a21892] rounded-[33px] blur-sm"></div>
                        <div id="open-sidebar" class="absolute inset-0 flex items-center justify-start bg-black/20 rounded-[33px] transition-all duration-300 group-hover:bg-black/40">
                        {% if user.is_authenticated %}
                            <div class="ml-1 w-[31px] h-[31px] bg-black rounded-full flex items-center justify-center text-white text-sm font-medium">
                                {{ user.username|upper|slice:"0:1" }}
                            </div>
                            <span class="ml-3 text-white text-sm whitespace-nowrap">{{ user.username|truncatechars:6 }}</span>
                            {% else %}
                            <div class="ml-1 w-[31px] h-[31px] bg-black rounded-full flex items-center justify-center">
                                <i class='bx bx-user text-white'></i>
                            </div>
                            <span class="ml-3 text-white text-sm whitespace-nowrap">Connexion</span>
                            {% endif %}
                        </div>
                        </div>

                    </form>
        </nav>

